<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동차 상세 페이지</title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <table border="1" style="text-align: center;">
        <tr>
            <th>ObjectId</th>
            <td>
                <%=detail._id%>
            </td>
        </tr>
        <tr>
            <th>모델</th>
            <td>
                <%=detail.name%>
            </td>
        </tr>
        <tr>
            <th>가격</th>
            <td>
                <%=detail.price%>
            </td>
        </tr>
        <tr>
            <th>제조사</th>
            <td>
                <%=detail.company%>
            </td>
        </tr>
        <tr>
            <th>제조년도</th>
            <td>
                <%=detail.year%>
            </td>
        </tr>
    </table>
    <a href="/car/edit/<%=_id%>">수정</a> | <a href="/car/delete/<%=_id%>">삭제</a> | <a href="/car">목록</a>
</body>

</html>